<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/SRREntityModel.csdl|res://*/SRREntityModel.ssdl|res://*/SRREntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=xw-nb00173;initial catalog=SRR;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>